@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Miama';
    font-style: normal;
    font-weight: normal;
    src: local('Miama'), url('Miama.woff') format('woff');
    }
    .background{
      background: #111111;
    }
  /* header styles */
  .header{
    width: 100%;
    height: 715px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
 
    /* background-color: rgba(17, 17, 17, 1); */
    /* background: linear-gradient(90deg, #111111 50%, #777777 50%); */
  }
  .brand{
    width: 132px;
    height: 43px;
    font-size: 36px;
    font-weight: bolder;
    line-height: 120%;
    text-align: left; 
    margin: 45px 463px 0 190px;
    /* margin-right: 463px;    */
    color: #E6533C;
  }
  .nav-links{
    display: flex;
    width: 465px;
    margin: 45px 190px 0 -120px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
  }
  .nav-item{
    list-style: none;
    margin-right: 45px;
  }
  .no-margin{
    margin-right: 0;
  }
  .nav-link{
    text-decoration: none;
    color: white;
  }
  .nav-link-btn{
    border: 1px solid #E6533C;
    border-radius: 46px;
    background-color: #E6533C;
    width: 92px;
    height: 35px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
  }
  .miama{
    font-family: 'Miama';
    font-weight: 400;
    font-size: 150px;
  }
  .banner-description{
    margin: 0 88px 76px 190px;
    width: 520px;
    height: 440px;
    padding-right: 80px;
  }
  .banner-h1{
    width: 520px;
    height: 282px;
    font-size: 78px;
    font-weight: 900;
    color: white;
    text-align: left;
    line-height: 120%;
    margin-bottom: 28px;
  }
  .banner-p{
    color: white;
    height: 48px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: left;
    opacity: 0.5;
  }
  .banner-btn{
    width: 462px;
    height: 54px;
    margin: 28px 58px 0 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-right: 58px;
  }
  .btn-primary{
    height: 55px;
    width: 225px;
    border-radius: 42px;
    padding: 16px 45px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #E6533C;
    border: 1px solid #E6533C;
  }
  .black{
    background-color: #000000;
    border: 1px solid white;
  }
  .banner-img{
    margin: 42px 214px 0 0;
  }

/*  */
/* header end */
/*  */

/* main start */
/* cyh start */
.cyh{
  width: 1044px;
  height: 452px;
  margin: 100px 198px;
}
.cyh-description{
  width: 671px;
  height: 120px;
  margin: 0 186.5px 58px;
}
.cyh-h3{
  width: 476px;
  height: 58px;
  margin: 0 97.5px 10px;
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  color: white;
}
.cyh-p{
  width: 100%;
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: center;
  color: white;
  opacity: 0.5;
}
.cyh-box-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 100%;
  height: 274px;
}
.cyh-box{
  width: 231px;
  height: 274px;
}
.cyh-box-img{
  margin: 0 25.5px 30px;
  border-radius: 100px;
}
.cyh-box-description{
  width: 231px;
  height: 64px;
}
.cyh-box-h5{
  /* width: 93px;
  height: 22px; */
  margin: 0 0px 6px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: white;
}
.cyh-box-p{
  width: 100%;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  opacity: 0.5;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.3;
}
  /* cyh end */
  /* extra-mile start*/
  .extra-mile{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1060px;
    height: 371px;
    margin: 0 190px;
    justify-content: center;
  }
  .extra-mile-content{
    width: 443px;
    height: 290px;
    margin: 0 165px 40px 54px;
  }
.extra-mile-description{
  width: 100%;
  height: 202px;
  margin-bottom: 34px;
}
.extra-mile-h3{
  height: 116px;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 0;
  color: white;
  text-align: left;
}
.extra-mile-p{
  height: 72px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: white;
  opacity: 0.5;
}
.extra-mile-btn{
  width: 224px;
  height: 54px;
  background-color: #E6533C;
  border-radius: 42px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  /* padding: 16px 71.5px; */
  margin-right: 219px;
}
.extra-mile-img{
  width: 366px;
  height: 312px;
  border-radius: 18px;
  margin: 30px 32px 31px 0;
}
/* extra-mile end */
/* mot start */
.mot{
  width: 1060px;
  height: 782px;
  margin: 88px 190px;
}
.mot-description{
  width: 671px;
  height: 120px;
  margin: 0 194px 58px;
}
.mot-h3{
  width: 364px;
  height: 58px;
  font-weight: 900;
  font-size: 48px;
  color: white;
  line-height: 120%;
  margin: 0 153px 14px;
}
.mot-p{
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: white;
  opacity: 0.5;
}
.mot-cardbox{
  width: 100%;
  height: 604px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.mot-box{
  width: 326px;
  height: 272px;
  border-radius: 18px;
}
.mot-box-img{
  width: 326px;
  height: 272px;
  background: rgba(0, 0, 0, 0.2);
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.mot-box-h5{
  color: white;
  line-height: 120%;
  margin-top: -75px;
  margin-left: 20px;
  font-weight: 900;
  font-size: 20px;
}
.mot-box-p{
  color: white;
  opacity: 0.5;
  margin-top: -20px;
  margin-left: 20px;
}
/* mot end */



@media screen and (max-width: 576px){
  .header{
    width: 393px;
    height: 1024px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
  }
  .brand{
    margin: 52px 197px 0 20px;
  }
  .nav-links{
    display: none;
    /* width: 465px;
    margin: 45px 190px 0 -120px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    align-items: center; */
  }
  /* .nav-item{
    list-style: none;
    margin-right: 45px;
  }
  .no-margin{
    margin-right: 0;
  }
  .nav-link{
    text-decoration: none;
    color: white;
  }
  .nav-link-btn{
    border: 1px solid #E6533C;
    border-radius: 46px;
    background-color: #E6533C;
    width: 92px;
    height: 35px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
  } */
  .miama{
    font-family: 'Miama';
    font-weight: 400;
  }
  .banner-description{
    margin: 51px 20px 0;
    width: 353px;
    height: 335px;
  }
  .banner-h1{
    width: 285px;
    height: 129px;
    font-size: 36px;
    font-weight: 900;
    margin-right: 67px;
    color: white;
    text-align: left;
    line-height: 120%;
    margin-bottom: 28px;
  }
  .banner-p{
    color: white;
    width: 274px;
    height: 96px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0 78px 28px 0;
    text-align: left;
  }
  .banner-btn{
    width: 352px;
    height: 54px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 14px;
  }
  .btn-primary{
    height: 54px;
    width: 169px;
    border-radius: 42px;
    padding: 16px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #E6533C;
    border: 1px solid #E6533C;
  }
  .black{
    background-color: #000000;
    border: 1px solid white;

  }
  .banner-img{
    height: 464px;
    margin: 64px 56px 0;
  }
  .miama{
    font-family: 'Miama';
    font-weight: 400;
    font-size: 70px;
  }

  /* cyh start */
  .cyh{
    width: 338px;
    height: 1398px;
    margin: 0 27px 66px;
  }
  .cyh-description{
    width: 318px;
    height: 124px;
    margin: 0 10px 58px;
  }
  .cyh-h3{
    width: 318px;
    height: 38px;
    margin-left: 0;
    margin-bottom: 14px;
    font-size: 32px;
  }
  .cyh-p{
    width: 100%;
    height: 72px;
  }
  .cyh-box-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    height: 1216px;
    gap: 40px;
    justify-items: center;
  }
  /* cyh end */
  /* extra-mile start*/
  .extra-mile{
    width: 1060px;
    height: 371px;
  }

/* mot start */
.mot{
  width: 353px;
  height: 1350px;
  margin: 0 20px;
}
.mot-description{
  width: 309px;
  height: 124px;
  margin: 0 42px 37px;
}
.mot-h3{
  width: 243px;
  height: 38px;
  font-weight: 900;
  font-size: 32px;
  color: white;
  line-height: 120%;
  margin: 0 33px 14px;
}
.mot-p{
  height: 72px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: white;
  opacity: 0.5;
}
.mot-cardbox{
  width: 100%;
  height: 1188px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin: 20px;
}
.mot-box{
  width: 326px;
  height: 272px;
  border-radius: 18px;
}
.mot-box-img{
  width: 313px;
  height: 272px;
  background: rgba(0, 0, 0, 0.2);
  /* background-color: rgba(0, 0, 0, 0.2); */
}
/* mot end */
/* extra-mile start*/
.extra-mile{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 353px;
    height: 531px;
    margin: 0 20px;
    justify-content: center;
}
  .extra-mile-content{
    width: 287px;
    height: 264px;
    margin: 33px 31px;
  }
.extra-mile-description{
  width: 100%;
  height: 186px;
  margin-bottom: 24px;
}
.extra-mile-h3{
  height: 76px;
  font-size: 32px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 0;
  color: white;
  text-align: left;
}
.extra-mile-p{
  height: 96px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: white;
  opacity: 0.5;
}
.extra-mile-btn{
  width: 287px;
  height: 54px;
  background-color: #E6533C;
  border-radius: 42px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  /* padding: 16px 71.5px; */
}
.extra-mile-img{
  width: 287px;
  height: 170px;
  border-radius: 18px;
  margin: 33px;
}
/* extra-mile end */

}